body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    margin: 0 auto;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 3px solid #e76264d4;
}

.navbar li {
    float: none;
    display: inline-flex;
}

.navbar li a {
    display: block;
    color: #e0e0e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #e76264d4;
}

.active {
    background-color: #e762644f;
}

.content {
    margin: 54px 8px;
}

.card {
    text-align: justify;
    background: #000000ba;
    margin: 15px 15%;
    padding: 15px;
    border-radius: 7px;
}

.card-no-background {
    background: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.img-card {
    display: block;
    margin: auto;
}

.card-title {
    font-size: 20px;
    display: block;
    text-align: center;
}

.logo {
    display: block;
    margin: auto;
    width: 350px;
    height: 140px;
}

td img {
    width: 200px;
    height: 120px;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: inherit;
    width: 180px;
    border-radius: 7px;
    flex: 23%;
    max-width: 23%;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.rodape {
    width: 100%;
    float: left;
    text-align: center;
    margin: auto 7px;
}

.social-icons a {
    font-size: 1.5em;
    color: #fff;
    margin-right: 3%;
}

.video {
    text-align: center;
    margin: auto;
    display: block;
}